.container {
    width: 20vw;
    min-width: 400px;
    height: 250px;
    display: flex;
}

.input_text-field {
    width: 100%;
}

.arrange_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
