.container {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    width: 35%;
}

.arrange_flex {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#settings_change-profile-image {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.text_page-title {
    text-align: center;
}

#settings_change-username {
    width: 55%;
}

#settings_profile_image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 30px;
}

#settings-page-profile-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_bottom-pfp {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.flex_center {
    display: flex;
    justify-content: center;
}

label {
    padding: 14px 0;
    cursor: pointer;
    border: none;
    background-color: #d740be;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    transition: ease 300ms;
    text-align: center;
    height: fit-content;
    width: 150px;
}

label:hover {
    background-color: #f658ee;
    cursor: pointer;

}

.flex_bottom-username {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_text-field {
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    padding: 12px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #494949;
    padding 14px;
    box-shadow: rgba(0, 0, 0, 0.075) 5px 5px 10px;
}

li {
    float: left;
    display: block;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#settings_userid_text {
    text-align: right;
}

#settings_back_button-li {
    width: 110px;
}

#settings_navbar-text {
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#vertical-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}